$very_big: 300%;
$big: 200%;
$medium: 150%;
$normal: 100%;
$small: 80%;
$very_small: 60%;


$very_big_mobile: 200%;
$big_mobile: 100%;
$medium_mobile: 100%;
$normal_mobile: 90%;
$small_mobile: 80%;
$very_small_mobile: 70%;
